.side-bar {
    position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  background-color: white;
  width: 72px;
  z-index: 200;
  padding-top: 5px;
}

.side-bar-link {
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.side-bar-link div {
    font-size: 10px;
}

.side-bar-link:hover {
    background-color: lightgray;
    cursor: pointer;
}

.side-bar-link img {
    height: 24px;
    margin-bottom: 5px;
}