* {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 40px;
}

/* @media (max-width: 320px) {
    .video-grid {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 460px) {
    .video-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 768px) {
    .video-grid {
        grid-template-columns: 1fr 1fr;
    }
} */

@media (min-width: 320px) {
    .video-grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 750px) {
    .video-grid {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (min-width: 751px) and (max-width: 999px) {
    .video-grid {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  
  @media (min-width: 1000px) {
    .video-grid {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

.thumbnail-row {
    margin-bottom: 12px;
    position: relative;
}

.thumbnail {
    width: 100%;
}

.video-title {
    margin-top: 0;
    font-weight: bold;
    margin-bottom: 12px;
}

.video-author,
.video-stats {
    font-size: 12px;
    color: rgb(96, 96, 96);
    margin-bottom: 5px;
}

.video-info {
    margin-left: 6px;
}

.profile-picture {
    width: 100%;
    border-radius: 100%;
}

.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.video-time {
    font-size: 12px;
    font-weight: 500;
    padding: 4px;
    border-radius: 2px;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 8px;
    right: 5px;
}